<script>
export default {
  name: 'VColorInput',
  components: {
    ChevronDownIcon: () => import('~/assets/icons/icon-chevron-down.svg?inline'),
    CheckIcon: () => import('~/assets/icons/icon-check.svg?inline')
  },
  props: {
    value: {
      type: String,
      default: ''
    },
    default: {
      type: String,
      default: 'black'
    },
    colors: {
      type: Array,
      default: () => ([])
    }
  },
  data: () => ({
    opened: false
  }),
  computed: {
    defaultValue () {
      if (this.value.length > 0) {
        return this.value
      }
      return this.default
    }
  },
  methods: {
    togglePallet (open = false) {
      this.opened = open
    },
    emitInputValue (color) {
      this.togglePallet()
      this.$emit('input', color)
    }
  }
}
</script>

<template>
  <div>
    <VSmoothReflow>
      <VCard
        :color="defaultValue"
        class="py-10 flex justify-around text-white font-semibold cursor-pointer"
        @click.native="() => togglePallet(!opened)"
      >
        <p>Select Color</p>
        <button
          class="focus:outline-none"
          type="button"
        >
          <ChevronDownIcon
            height="15"
            :class="{
              'text-white duration-700 ': true,
              'animation-rotate': opened
            }"
          />
        </button>
      </VCard>
      <transition-group name="fade">
        <VCard
          v-for="color in colors"
          v-show="opened"
          :key="`pallet-${color}`"
          :color="color"
          class="py-12 my-3 cursor-pointer flex justify-center"
          @click.native="() => emitInputValue(color)"
        >
          <CheckIcon
            v-if="color === defaultValue"
            class="fill-current text-white"
            height="20"
          />
        </VCard>
      </transition-group>
    </VSmoothReflow>
  </div>
</template>
