<script>
import { randomId } from '~/utils/functions'

export default {
  name: 'VInputText',
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    id: {
      type: String,
      default: () => randomId('input')
    },
    validations: {
      type: Array,
      default: () => ([])
    }
  },
  data: () => ({
    isValid: false,
    errors: []
  }),
  methods: {
    runValidations ({ target }) {
      this.errors = this.validations.reduce((errors, fn) => {
        const result = fn(target.value)

        if (result === true) {
          return errors
        }

        errors.push(result)
        return errors
      }, [])

      this.$emit('valid', this.errors.length === 0)
    },
    emitInput ({ target }) {
      this.$emit('input', target.value)
      this.runValidations({ target })
    }
  }
}
</script>

<template>
  <div>
    <label
      v-if="label.length > 0"
      class="block text-gray-700 text-sm mb-2 font-semibold"
      :for="id"
    >
      {{ label }}
    </label>
    <input
      :id="id"
      :class="{
        'v-input-text focus:outline-none focus:border-blue-400': true
      }"
      :type="type"
      v-bind="$attrs"
      @input="emitInput"
      @blur="runValidations"
    >
    <p
      v-for="(message, i) in errors"
      :key="`${i}-input-error`"
      class="text-red-500 text-xs italic"
    >
      {{ message }}
    </p>
  </div>
</template>

<style>
.v-input-text {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}
</style>
