<script>
import { randomNumber, initializeData } from '~/utils/functions'
import { minLength, maxLength, isEmail, isPhoneNumber } from '~/utils/validations'

const smothScroll = () => {
  if (typeof document === 'undefined') {
    return
  }

  document.getElementById('main-app').scroll({
    top: 0,
    behavior: 'smooth'
  })
}

export default {
  name: 'OfficeForm',
  components: {
    CloseIcon: () => import('~/assets/icons/icon-close.svg?inline')
  },
  props: {
    office: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    selectedColor: '',
    formData: {}
  }),
  computed: {
    colors () {
      return [
        'gray-500',
        'green-700',
        'orange-600',
        'teal-600',
        'blue-600',
        'indigo-700',
        'pink-600',
        'red-700'
      ]
    },
    randomColor () {
      return this.colors[randomNumber(this.colors.length)]
    },
    formIsValid () {
      return Object.values(this.formData)
        .filter(field => field.valid === false).length === 0
    }
  },
  watch: {
    office: {
      immediate: true,
      handler (v) {
        this.initializeData()
        smothScroll()
      }
    }
  },
  methods: {
    ...{ minLength, maxLength, isEmail, isPhoneNumber },
    emitClose () {
      this.initializeData(true)
      this.$emit('close')
    },
    initializeData (reset = false) {
      if (reset) {
        this.formData = initializeData(['color', 'title', 'address', 'fullname', 'jobposition', 'email', 'phone'])
        return
      }

      this.formData = Object.keys(this.office).length
        ? this.office
        : initializeData(['color', 'title', 'address', 'fullname', 'jobposition', 'email', 'phone'])
    },
    saveOffice () {
      if (typeof this.formData.id === 'undefined') {
        this.formData.id = { valid: true, value: randomNumber(9999999) }
      }

      this.$emit('save', this.formData)
      this.initializeData()
      this.emitClose()
    }
  }
}
</script>

<template>
  <VCard
    color="white"
    class="px-6 py-4"
  >
    <div class="flex justify-between mb-4">
      <h3 class="text-md font-semibold text-gray-800">
        New Location
      </h3>
      <button class="focus:outline-none" @click="emitClose">
        <CloseIcon height="18" />
      </button>
    </div>
    <form
      autocomplete="off"
      @submit.prevent="saveOffice"
    >
      <div class="pb-6">
        <VColorInput
          v-model="formData.color.value"
          :default="randomColor"
          :colors="colors"
          @input="() => formData.color.valid = true"
        />
      </div>
      <div class="mb-4">
        <VInputText
          v-model="formData.title.value"
          label="Title *"
          autofocus
          name="title"
          placeholder="Tower Saas Center"
          maxlength="20"
          :validations="[(v) => minLength(v, 4)]"
          @valid="(v) => formData.title.valid = v"
        />
      </div>
      <div class="mb-6">
        <VInputText
          v-model="formData.address.value"
          label="Enter the address *"
          name="address"
          placeholder="3763 W. Dallas St."
          :validations="[(v) => minLength(v, 8)]"
          @valid="(v) => formData.address.valid = v"
        />
      </div>
      <p class="text-blue-500 mb-2">
        Contact Name
      </p>
      <hr class="mb-6">
      <div class="mb-4">
        <VInputText
          v-model="formData.fullname.value"
          label="Full name *"
          name="fullname"
          placeholder="John Doe"
          :validations="[(v) => minLength(v, 8)]"
          @valid="(v) => formData.fullname.valid = v"
        />
      </div>
      <div class="mb-4">
        <VInputText
          v-model="formData.jobposition.value"
          label="Job Position *"
          name="jobposition"
          placeholder="CTO"
          :validations="[(v) => minLength(v, 3)]"
          @valid="(v) => formData.jobposition.valid = v"
        />
      </div>
      <div class="mb-4">
        <VInputText
          v-model="formData.email.value"
          label="Email Address *"
          name="email"
          type="email"
          placeholder="name@example.com"
          :validations="[(v) => isEmail(v), (v) => maxLength(v, 60)]"
          @valid="(v) => formData.email.valid = v"
        />
      </div>
      <div class="mb-4">
        <VInputText
          v-model="formData.phone.value"
          label="Phone *"
          name="phone"
          placeholder="(XXX) XXXX-XXXX"
          type="phone"
          maxlength="15"
          :validations="[(v) => isPhoneNumber(v)]"
          @valid="(v) => formData.phone.valid = v"
        />
      </div>
      <div class="flex items-center justify-between">
        <VBtn
          type="submit"
          :disabled="!formIsValid"
        >
          Save
        </VBtn>
      </div>
    </form>
  </VCard>
</template>
