<script>
export default {
  name: 'OfficeCard',
  components: {
    ChevronIcon: () => import('~/assets/icons/icon-chevron-down.svg?inline'),
    PencilIcon: () => import('~/assets/icons/icon-pencil.svg?inline'),
    TrashIcon: () => import('~/assets/icons/icon-trash.svg?inline')
  },
  props: {
    office: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    show: false
  }),
  methods: {
    toggle () {
      this.show = !this.show
    }
  }
}
</script>

<template>
  <div>
    <div class="relative">
      <VCard
        class="py-8 w-full -mb-4"
        :color="office.color.value"
      >
        <div class="flex justify-between font-thin items-center">
          <div>
            <h3
              class="text-2xl font-semibold text-white"
              v-text="office.title.value"
            />
            <p
              class="text-white"
              v-text="office.address.value"
            />
          </div>
          <div>
            <button
              class="focus:outline-none"
              @click="toggle"
            >
              <ChevronIcon
                height="15"
                :class="{
                  'text-white duration-700': true,
                  'animation-rotate': show
                }"
              />
            </button>
          </div>
        </div>
      </VCard>
    </div>
    <div class="duration-700 pt-4 bg-white rounded-b-lg shadow-lg">
      <VSmoothReflow>
        <transition name="fade">
          <div
            v-show="show"
            class="py-4 px-8"
          >
            <h1
              class="font-bold text-xl mb-2 text-gray-800"
              v-text="office.fullname.value"
            />
            <h4
              class="mb-2"
              v-text="office.jobposition.value"
            />
            <a
              class="text-blue-500 mb-2 block"
              :href="`mailto:${office.email.value}`"
              v-text="office.email.value"
            />
            <p v-text="office.phone.value" />
            <hr class="my-3 border-gray-400">
            <div class="flex justify-between mb-2">
              <button
                class="flex hover:text-gray-700 focus:outline-none text-xs text-gray-600 font-medium"
                @click="() => $emit('edit', office)"
              >
                <span>
                  <PencilIcon
                    height="18"
                    class="mr-2"
                  />
                </span>
                EDIT
              </button>
              <button
                class="flex hover:text-red-500 focus:outline-none text-red-400 text-xs font-medium"
                @click="() => $emit('delete', office)"
              >
                <TrashIcon
                  height="18"
                  class="mr-2"
                />
                DELETE
              </button>
            </div>
          </div>
        </transition>
      </VSmoothReflow>
    </div>
  </div>
</template>
