<script>
import PlusIcon from '~/assets/icons/icon-plus.svg?inline'

export default {
  name: 'OfficeFormSection',
  components: {
    PlusIcon
  },
  props: {
    office: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    show: false
  }),
  watch: {
    office: {
      immediate: true,
      handler (v) {
        if (v.id) {
          this.show = true
        }
      }
    }
  },
  methods: {
    closeForm () {
      this.show = false
      this.$emit('close')
    }
  }
}
</script>

<template>
  <section>
    <VSmoothReflow>
      <VCard
        v-if="!show"
        color="teal-700"
        class="py-4"
      >
        <div class="flex justify-between font-thin text-white items-center">
          <p>Add New Location</p>
          <button
            class="focus:outline-none"
            @click="() => show = !show"
          >
            <PlusIcon height="15" class="text-gray-100" />
          </button>
        </div>
      </VCard>
      <OfficeForm
        v-else
        :office="office"
        @save="(v) => $emit('save', v)"
        @close="closeForm"
      />
    </VSmoothReflow>
  </section>
</template>
