<script>
export default {
  name: 'TheTopAlert',
  components: {
    CheckIcon: () => import('~/assets/icons/icon-check.svg?inline')
  },
  props: {
    message: {
      type: String,
      default: ''
    }
  }
}
</script>

<template>
  <transition name="fade">
    <div
      v-show="message.length"
      class="bg-white absolute top-0 w-full animate-fade z-10 shadow-sm"
    >
      <div class="pt-1 bg-green-600" />
      <div class="flex justify-center py-12 uppercase text-center py-3 text-xs font-medium text-gray-700">
        <CheckIcon
          v-show="message.length"
          height="25"
          class="fill-current text-green-600 mr-3"
        />
        <p>{{ message }}</p>
      </div>
    </div>
  </transition>
</template>
