<script>
export default {
  name: 'VBtn',
  props: {
    disabled: Boolean,
    type: {
      type: String,
      default: 'button'
    }
  }
}
</script>

<template>
  <button
    :class="{
      'v-btn': true,
      'v-btn--disabled': disabled
    }"
    :type="type"
    :disabled="disabled"
  >
    <slot />
  </button>
</template>

<style>
.v-btn {
  @apply bg-blue-500 text-white font-semibold py-2 px-4 rounded;
}

.v-btn--disabled:focus,
.v-btn--disabled {
  @apply pointer-events-none bg-gray-200 text-gray-500;
}

.v-btn:focus,
.v-btn:hover {
  @apply bg-blue-700 shadow-outline outline-none;
}
</style>
