<script>
export default {
  name: 'VCard',
  props: {
    color: {
      type: String,
      default: 'white'
    },
    shadow: {
      type: Boolean,
      default: true
    },
    rounded: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<template>
  <div
    :class="{
      'px-4 py-2': true,
      [`bg-${color}`]: true,
      'shadow-lg': shadow,
      'rounded-lg': rounded
    }"
  >
    <slot />
  </div>
</template>
