@tailwind base;

@tailwind components;

@tailwind utilities;

.max-app-width {
  max-width: 310px;
}

.animation-rotate--hover:hover,
.animation-rotate {
  @apply transform rotate-180;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.45s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
