<script>
import { removeFrom } from '~/utils/functions'
import Offices from '~/assets/offices.json'

export default {
  name: 'Index',
  data: () => ({
    show: false,
    messageAlert: '',
    offices: [],
    office: {}
  }),
  beforeMount () {
    this.offices = [...Offices]
  },
  methods: {
    topAlert (message) {
      this.messageAlert = message
      setTimeout(() => {
        this.messageAlert = ''
      }, 5000)
    },
    addOffice (office) {
      if (office === this.office) {
        this.topAlert('the location has been updated.')
        return
      }

      this.offices.push(office)
      this.topAlert('the location has been saved.')
    },
    removeOffice (office) {
      this.offices = removeFrom(office, this.offices)
    },
    editOffice (office) {
      this.office = office
    }
  }
}
</script>

<template>
  <main
    id="main-app"
    class="pt-12 pb-6 max-h-screen overflow-y-auto"
  >
    <TheTopAlert :message="messageAlert" />
    <h1 class="text-center text-5xl text-teal-500">
      Offices
    </h1>
    <div class="container mx-auto relative max-app-width">
      <OfficeFormSection
        class="w-full mx-auto py-4"
        :office="office"
        @save="addOffice"
        @close="office = {}"
      />
      <div class="w-full mx-auto my-3">
        <OfficeCard
          v-for="office in offices"
          :key="`${office.id.value}-office`"
          :office="office"
          class="mb-5"
          @delete="removeOffice"
          @edit="editOffice"
        />
      </div>
      <div class="text-center">
        <p class="text-center text-gray-600">
          This project is for test purpose only.
        </p>
        <a class="text-blue-400" href="https://www.dogandponystudios.com/" target="_blank">
          WWW.DOGANDPONYSTUDIOS.COM
        </a>
      </div>
    </div>
  </main>
</template>
